* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  position: relative;
  /* height: 100vh; */
  background: url("images/69f6ff941c3769a24e8d31903f241c62f7372678.png") center / cover no-repeat;
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
}

nav {
    position: relative;
    z-index: 1;
    color: white;
}

.nav-items {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    padding-top: 20px;
}

.nav-items #logo {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items #tuck {
    color: rgba(188, 154, 108, 1);
}

.nav-items .container-1 {
    display: flex;
    align-items: center;
    gap: 200px;
}

.nav-items .container-1 div:nth-child(1) {
    display: flex;
    gap: 20px;
}

.nav-items .container-1 div:nth-child(1) a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container-1 #home {
    color:  rgba(188, 154, 108, 1);
}

.nav-items .container-1 div:nth-child(2) {
    display: flex;
    gap: 20px;
}

/* HERO SECTION */

.hero {
    position: relative;
    z-index: 1;
    color: white;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    gap: 90px;
}

.hero-1 div:nth-child(1) { 
    display: flex;
    gap: 2px;
    border: 1px solid rgba(188, 154, 108, 1);
    width: 230px;
    padding: 8px 20px;
    position: relative;
}

.hero-1 img {
    width: 50px;
    position: absolute;
    left: 180px;
    bottom: 5px;
}

.hero-1 span {
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-1 h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 426px;
    height: 136px;
    color: rgba(188, 154, 108, 1);
}

.hero-1 p {
    font-size: 16px; 
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    width: 426px;
    padding: 30px 0px;
}

.hero-1-btn {
    display: flex;
    gap: 20px;
}

.hero-1 button:nth-child(1) {
    background-color: rgba(188, 154, 108, 1);
    width: 190px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border: none;
}

.hero-1 button:nth-child(2) {
    background: transparent;
    width: 190px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgba(188, 154, 108, 1);
    color: rgba(188, 154, 108, 1);
}

.hero-2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-2 img:nth-child(1) {
    width: 40px;
    height: 50px;
    position: absolute;
    transform: rotate(-35.3deg);
    bottom: 150px;
    right: 20px;
}

.hero-2 img:nth-child(2) {
    width: 40px;
    height: 50px;
    position: absolute;
    transform: rotate(-35.3deg);
    bottom: 1px;
}

.hero-2 img:nth-child(3) {
    width: 40px;
    height: 50px;
    position: absolute;
    transform: rotate(-35.3deg);
    right: 70px;
}

.hero-2 img:nth-child(4) {
    width: 40px;
    height: 50px;
    position: absolute;
    transform: rotate(-35.3deg);
    left: 30px;
    top: 150px;
}

.hero-3 {
    /* display: flex; */
    position: relative;
}

.hero-3 div {
    width: 500px;
    height: 550px;
    border: 1px solid  rgba(188, 154, 108, 1);
}

.hero-3 img {
    width: 500px;
    height: 550px;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 1px;
}

.circle {
    position: relative;
    z-index: 1;
    display: flex;
    justify-self: center;
    padding-bottom: 20px;
}

/* ABOUT SECTION */

.about {
    display: flex;
    justify-content: space-between;margin: 0px 100px;
    margin-top: 100px;
}

.about .image-conatiner {
    position: relative;
}

.about img:nth-child(1) {
    width: 276px;
    height: 269px;
    position: absolute;
    left: 300px;
    top: 150px;
}

.about img:nth-child(2) {
    width: 450px;
    height: 550px;
    position: absolute;
}

.about img:nth-child(3) {
    width: 350px;
    height: 250px;
    position: absolute;
    left: -50px;
    top: 330px;
}

.about .about-items {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.about .about-items span {
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-weight: 400;
}

.about .about-items h1 {
    width: 536px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    margin-top: 20px;
}

.about .about-items p {
    width: 536px;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    color: rgba(79, 79, 79, 1);
    margin: 10px 0px;
}

.about .checks div {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 3;
}

.about .checks span {
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
}

.about .checks .bx {
    width: 34px;
    height: 29px;
    background-color: rgba(237, 234, 227, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.about .checks div:nth-child(2) .bx {
    background-color: rgba(51, 51, 51, 1);
    color: white;
}

.about .btn-container {
    display: flex;
    align-items: center;
    background-color: rgba(188, 154, 108, 1);
    color: white;
    width: 229px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 10px;
    margin-top: 15px;
}

.about .btn-container button {
    background: none;
    border: none;
    font-size: 18px;
    color: white;
}

.about .btn-container .bx {
    font-size: 30px;
}

/* CATEGORY SECTION */

.category-section {
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.category-section .heading h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 35px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-self: center;
}

.category-section .heading p {
    font-size: 15px;
    font-weight: 400;
    width: 418px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    line-height: 17px;
    margin-top: 10px;
    color: rgba(79, 79, 79, 1);
}

.category-items {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0px 100px;
    position: relative;
    gap: 290px;
    margin-top: 50px;
}

.category-items #cup-img {
    position: absolute;
    left: 430px;
    top: -160px;
    z-index: 10;
}

.category-items #flower-img1 {
    width: 150px;
    position: absolute;
    left: 520px;
    top: 150px;
}

.category-items #flower-img2 {
    width: 150px;
    position: absolute;
    left: 600px;
    top: 90px;
    /* z-index: 100; */
}


.category-items .items-1 {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.category-items .items-1 img {
    width: 70px;
}

.category-items .items-1 span {
    font-size: 20px;
    font-weight: 700;
    color: rgba(79, 79, 79, 1);
}

.category-items .items-1 p {
    font-size: 13px;
    color: rgba(79, 79, 79, 1);
    width: 300px;
    line-height: 15px;
    margin-top: 7px;
}

.category-items-2 .items-1 {
    display: flex;
    align-items: center;
    
}

.category-items-2 .items-1 img {
    width: 70px;
}

.category-items-2 .items-1 span {
    font-size: 20px;
    font-weight: 700;
    color: rgba(79, 79, 79, 1);
    display: flex;
    justify-content: flex-end;
}

.category-items-2 .items-1 p {
    font-size: 13px;
    color: rgba(79, 79, 79, 1);
    width: 300px;
    line-height: 15px;
    margin-top: 7px;
    text-align: right;
}


/* CHOOSE US */

.choose-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    margin-top: 100px;
}

.choose-us .img-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.choose-us .img-container img {
    width: 500px;
    height: 600;
}

.img-container div {
    background: rgba(255, 255, 255, 1);
    width: 450px;
    position: absolute;
    border-radius: 6px;
    bottom: 20px;
    padding: 20px;
}

.img-container p {
    font-size: 13px;
    width: 400px;
    color: rgba(79, 79, 79, 1);
    line-height: 20px;
    margin-bottom: 10px;
}

.img-container span {
    font-size: 15px;
    font-weight: 700;
    color: rgba(79, 79, 79, 1);
}

.choose-title span {
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-weight: 400;
}

.choose-title h1 {
    width: 536px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    margin-top: 20px;
}

.choose-title p {
    width: 600px;
    text-align: justify;
    font-size: 14px;
    color: rgba(79, 79, 79, 1);
    padding: 20px 0px;
}

.choose-items .items1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.choose-items .items1 img {
    width: 50px;
    height: 60px;
    background: rgba(188, 154, 108, 1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-items .items1 span {
    width: 300px;
    color: rgba(79, 79, 79, 1);
    font-size: 16px;
    font-weight: 700;
}

.choose-items .items1 p {
    width: 300px;
    color: rgba(79, 79, 79, 1);
    font-size: 14px;
    padding-top: 10px;

}

/* OUR FAVORITE MENU */

.favorite-menu {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 100px;
    margin-top: 100px;
}

.favorite-menu .title h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.favorite-menu .title p {
    font-size: 15px;
    font-weight: 400;
    width: 430px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    line-height: 17px;
    margin-top: 10px;
    color: rgba(79, 79, 79, 1);
}

.favorite-containers {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    position: relative;
}

.fav-1 {
    background-color: rgba(237, 234, 227, 1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fav-1 img {
    width: 35px;
}

.fav-1 div {
    display: flex;
    align-items: center;
    width: 250px;
    height: 70px;
    background: rgba(255, 255, 255, 1);
    margin: 15px 20px;
    padding: 20px 15px;
    gap: 20px;
}

.fav-1 div:nth-child(2) {
    background-color: rgba(188, 154, 108, 1);
    color: white;
}

.fav-1 span {
    color: rgba(79, 79, 79, 1);
    font-weight: 700;
    font-size: 15px;
}

.fav-1 #esperesso span {
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.fav-2 {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 260px;
}

.fav-2 img {
    width: 270px;
    height: 200px;
}

.fav-2 div:nth-child(1) {
    position: relative;
}

.fav-2 #fav-2-img2 {
    position: relative;
}

.fav-2 .img-1-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 235px;
    gap: 10px;
}

.fav-2 .img-1-icons .bx {
    background: rgba(237, 234, 227, 1);
    font-size: 20px;
    color: rgba(31, 36, 46, 1);
}

.fav-2 .stars-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.fav-2 .stars-container span {
    color: rgba(79, 79, 79, 1);
    font-weight: 700;
    font-size: 16px;
}

.fav-2 .fav-2A p {
    padding-left: 10px;
    color: rgba(130, 130, 130, 1);
    font-size: 13px;
}

.fav-3 {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: -38px;
}

.fav-3 img {
    width: 270px;
    height: 200px;
}

.fav-3 div:nth-child(1) {
    position: relative;
}

.fav-3 #fav-2-img2 {
    position: relative;
}

.fav-3 .img-1-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 235px;
    gap: 10px;
}

.fav-3 .img-1-icons .bx {
    background: rgba(237, 234, 227, 1);
    font-size: 20px;
    color: rgba(31, 36, 46, 1);
}

.fav-3 .stars-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.fav-3 .stars-container span {
    color: rgba(79, 79, 79, 1);
    font-weight: 700;
    font-size: 16px;
}

.fav-3 .fav-2A p {
    padding-left: 10px;
    color: rgba(130, 130, 130, 1);
    font-size: 13px;
}

.img-button {
    margin-top: 100px;
    display: flex;
    justify-self: center;
}

/* MEET OUR CHEF */

.meet-chef {
    margin-top: 100px;
}

.meet-chef .chefs-title h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.meet-chef .chefs-title p {
    font-size: 15px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    line-height: 17px;
    margin-top: 10px;
    color: rgba(79, 79, 79, 1);
}

.meet-chef .chefs-img {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    margin-top: 40px;
}

.meet-chef .chefs-img img {
    width: 270px;
    height: 270px;
}

.meet-chef .chefs-img div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-chef .chefs-img span {
    color: rgba(79, 79, 79, 1);
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0px;
}

.meet-chef .chefs-img p {
    padding-left: 10px;
    color: rgba(130, 130, 130, 1);
    font-size: 13px;
}


/* TESTIMONIALS SECTION */

.testimonials {
    display: flex;
    justify-self: center;
    margin-top: 100px;
    font-family: he;
}

.testimonials .customer-review {
    width: 575px;
    height: 555px;
    object-fit: cover;
    background: url("images/69f6ff941c3769a24e8d31903f241c62f7372678.png") center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.testimonials .customer-review::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.96);
    z-index: 1;
}

.testimonials .customer-review span {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.testimonials .customer-review p {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 350px;
    font-weight: 400;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials .customer-review h2 {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px;
}

.testimonials .customer-review .quotes {
    position: relative;
    z-index: 2;
    color: white;
    margin-bottom: 20px;
}

.testimonials .customer-review #user {
    position: relative;
    z-index: 2;
    color: white;
    margin: 20px 0px;
}

.testimonials .customer-review h5 {
    position: relative;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5px;
}

.testimonials .customer-review h6 {
    position: relative;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(171, 169, 169);
    font-size: 13px;
}

.testimonials .customer-review .cercale-1 {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

.testimonials .video-section {
    width: 575px;
    height: 555px;
    background: url("images/Rectangle\ 8803.png") center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials .video-section .bx {
    color: rgba(188, 154, 108, 1);
    background: rgba(255, 255, 255, 1);
    font-size: 50px;
    padding: 20px;
    border-radius: 50px;
}

.testimonials .video-section img {
    width: 575px;
    height: 555px;
    object-fit: cover;
}

/* NEWS BLOG SECTION */

.news-blog {
    margin-top: 100px;
}

.news-blog .title {

}

.news-blog .title h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.news-blog .title p {
    font-size: 15px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    line-height: 17px;
    margin-top: 10px;
    color: rgba(79, 79, 79, 1);
}

.news-blog .blog-imgs {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    margin-top: 50px;
}

.news-blog .blog-imgs img {
    width: 370px;
    height: 250px;
}

.blog-imgs .date-user {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}

.blog-imgs .date-user div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.blog-imgs .date-user .bx {
    font-size: 21px;
    color: rgba(188, 154, 108, 1);
}

.blog-imgs .date-user span {
    font-size: 13px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    font-family: Arial, Helvetica, sans-serif;
}

.blog-imgs h5 {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(51, 51, 51, 1);
    margin-left: 20px;
    width: 250px;
    margin-top: 10px;
}

.blog-imgs p {
    width: 300px;
    color: rgba(79, 79, 79, 1);
    margin-top: 10px;
    margin-left: 20px;
    line-height: 17px;
    font-size: 13px;
}

.blog-imgs .read-more-btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid rgba(188, 154, 108, 1);
    border-radius: 6px;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.blog-imgs .read-more-btn button {
    background: none;
    border: none;
    color: rgba(188, 154, 108, 1);
}

.blog-imgs .read-more-btn .bx {
    color:  rgba(188, 154, 108, 1);
    font-size: 20px;
}

